.calculator-container {
    max-width: 25rem;
    margin: 2rem auto auto auto;
    border-style: solid;
    border-color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

@media screen and (min-width: 1024px) {
    .calculator-container {
        max-width: 25rem;
        margin: 10vh auto 0 auto;

    }

}

.display {
    height: 8rem;
    text-align: right;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

// @media screen and (min-width: 1024px) {
//     .calculator-container {
//         max-width: 25rem;
//     }


// }