@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

$primary-color: #F9A12EFF;
$secondary-color: #FC766AFF;
$tertiary-color: rgba(161, 57, 192, 0.92);
$white-color: #ffffff;
$primary-background-color: rgb(45, 44, 45);
$primary-foreground-color: rgb(55, 55, 55);
$primary-font: 'Orbitron', sans-serif;